<%= form_with(model: @product, local: true) do |f| %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <form>
        <div class="form-group">
          <%= f.text_field :description, class: "form-control mb-4", placeholder: 'Descrição', required: true %>
          <%= f.text_field :stock, class: "form-control mb-4", placeholder: 'Estoque', required: true %>
          <%= f.text_field :barcode, class: "form-control mb-4", placeholder: 'Código de Barras', required: true %>
          <%= f.select :promotion_id, options_from_collection_for_select(@promotions, :id, :kind, @promotion), { include_blank: "Selecione uma promoção" }, class: "form-control form-select mb-4" %>
          <%= f.text_field :price, class: "form-control mb-4", placeholder: 'Preço', required: true %>
        </div>
        <div class="text-center">
          <%= f.submit "Enviar", class: "btn btn-info" %>
          <%= link_to 'Voltar', products_path, class:"btn btn-info" %>
        </div>
      </form>
    </div>
  </div>
</div>
<% end %>