<div class="container mt-4">
  <h1 class="text-center">Lista de produtos</h1>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Stock</th>
        <th scope="col">Barcode</th>
        <th scope="col">Price</th>
        <th scope="col">Promotion</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"><%= product.id %></th>
          <td><%= product.description %></td>
          <td><%= product.stock %></td>
          <td><%= product.barcode %></td>
          <td><%= product.price %></td>
          <td><%= product.promotion_id %></td>

          <td>
            <%= link_to 'Editar', edit_product_path(product) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Novo Produto', new_product_path, class:"btn btn-info" %>
  <%= link_to 'Voltar', root_path, class:"btn btn-info" %>

</div>
